.contact-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 40px;
    .toggle-btn {
        position: fixed;
        right: 10%;
        right: 10%;
        top: 40%;
        border: 0;
        background-color: #fff;
        cursor: pointer;
    }
}
