.contact-page {
    background-image: url('../../../assets/imgs/brilliante.png');
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    // height: calc(100vh - 54px);
    & h2{
        margin-top: 40px;
    }
    .contact-nav{
        display: flex;
        justify-content: center;
        align-items: center;
        .toggle-btn {
            border: 0;
            background-color: transparent;
            cursor: pointer;
        }
    }
}
