.home-page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgb(9 30 66 / 25%);
    background-color: #c5f2ed;
    height: 100vh;
    .home-bitcoin{
        display: flex;
        justify-content: center;
        align-items: center;
        .home-img{
            width: 45px;
            height: 45px;
        }
    }
}